.home-container {
    text-align: center;
    margin-top: 2rem;
  }
  .home-container h1 {
    color: #ff6347;
  }
  .home-container button {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #ff6347;
    border: none;
    cursor: pointer;
  }
  .home-container button:hover {
    background-color: #e5533d;
  }
  
